{:paths ["src" "resources"]
 :deps {com.stuartsierra/component              {:mvn/version "1.0.0"}
        aleph/aleph                             {:mvn/version "0.4.7-alpha10"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
