{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/core.async {:mvn/version "1.10.870-alpha2"}
        cheshire/cheshire {:mvn/version "6.0.0"}
        metosin/malli {:mvn/version "0.17.0"}
        hato/hato {:mvn/version "1.0.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.1"}
                     io.github.clojure/core.async.flow-monitor
                     {:git/tag "v0.1.4" :git/sha "9b8c327"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}

