{:web-server {:host #or [#env HOST "0.0.0.0"]
              :port #long #or [#env PORT 3000]
              :context-path #or [#env CONTEXT-PATH "/lra-coordinator"]}
 :database {:schema {:lra/code {:db/unique :db.unique/identity}}}}
