{:paths ["src" "resources"]
 :deps {metosin/reitit-core                     {:mvn/version "0.5.15"}
        metosin/reitit-ring                     {:mvn/version "0.5.15"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
