{:paths   ["src" "resources"]
 :deps    {org.clojure/core.async         {:mvn/version "1.5.648"}
           com.stuartsierra/component     {:mvn/version "1.0.0"}
           exoscale/ex                    {:mvn/version "0.4.0"}
           metosin/tilakone               {:mvn/version "0.0.5-SNAPSHOT"}
           clj-http/clj-http              {:mvn/version "3.12.3"}
           org.clojure/tools.logging      {:mvn/version "1.1.0"}
           ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                           :exclusions  [org.slf4j/slf4j-api]} }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
