{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {ayatori.core {make-system {:arities {1 {:args [{:op :keys,
                                                                                        :opt {:wiring :map,
                                                                                              :host :string,
                                                                                              :port :int},
                                                                                        :req {:agents :map}}],
                                                                                :ret {:op :keys,
                                                                                      :req {:agents :any,
                                                                                            :wiring :any,
                                                                                            :host :string,
                                                                                            :port :int,
                                                                                            :state :any}}}}},
                                                      start! {:arities {1 {:args [{:op :keys,
                                                                                   :req {:agents :any,
                                                                                         :wiring :any,
                                                                                         :host :string,
                                                                                         :port :int,
                                                                                         :state :any}}],
                                                                           :ret {:op :keys,
                                                                                 :req {:agents :any,
                                                                                       :wiring :any,
                                                                                       :host :string,
                                                                                       :port :int,
                                                                                       :state :any}}}}},
                                                      caps {:arities {1 {:args [{:op :keys,
                                                                                 :req {:agents :any,
                                                                                       :wiring :any,
                                                                                       :host :string,
                                                                                       :port :int,
                                                                                       :state :any}}],
                                                                         :ret :map}}},
                                                      run {:arities {4 {:args [{:op :keys,
                                                                                :req {:agents :any,
                                                                                      :wiring :any,
                                                                                      :host :string,
                                                                                      :port :int,
                                                                                      :state :any}}
                                                                               :keyword
                                                                               :keyword
                                                                               :any],
                                                                        :ret :any}}},
                                                      rewire! {:arities {3 {:args [{:op :keys,
                                                                                    :req {:agents :any,
                                                                                          :wiring :any,
                                                                                          :host :string,
                                                                                          :port :int,
                                                                                          :state :any}}
                                                                                   :keyword
                                                                                   :map],
                                                                            :ret :nil}}},
                                                      add-agents! {:arities {2 {:args [{:op :keys,
                                                                                        :req {:agents :any,
                                                                                              :wiring :any,
                                                                                              :host :string,
                                                                                              :port :int,
                                                                                              :state :any}}
                                                                                       {:op :keys,
                                                                                        :opt {:wiring :map},
                                                                                        :req {:agents :map}}],
                                                                                :ret {:op :keys,
                                                                                      :req {:agents :any,
                                                                                            :wiring :any,
                                                                                            :host :string,
                                                                                            :port :int,
                                                                                            :state :any}}}}},
                                                      stop! {:arities {1 {:args [{:op :keys,
                                                                                  :req {:agents :any,
                                                                                        :wiring :any,
                                                                                        :host :string,
                                                                                        :port :int,
                                                                                        :state :any}}],
                                                                          :ret {:op :keys,
                                                                                :req {:agents :any,
                                                                                      :wiring :any,
                                                                                      :host :string,
                                                                                      :port :int,
                                                                                      :state :any}}}}},
                                                      orphans {:arities {1 {:args [{:op :keys,
                                                                                    :req {:agents :any,
                                                                                          :wiring :any,
                                                                                          :host :string,
                                                                                          :port :int,
                                                                                          :state :any}}],
                                                                            :ret :set}}},
                                                      make-agent {:arities {1 {:args [:any],
                                                                               :ret {:op :keys,
                                                                                     :opt {:name :keyword,
                                                                                           :topology {:op :keys,
                                                                                                      :opt {:node-types :map},
                                                                                                      :req {:procs :map,
                                                                                                            :conns :any,
                                                                                                            :entry-key :keyword,
                                                                                                            :deps :set}}},
                                                                                     :req {:nodes :map,
                                                                                           :edges :map,
                                                                                           :caps :map,
                                                                                           :deps :vector,
                                                                                           :max-steps :int}}}}}}}}}}
