{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {ayatori.memory {make-memory {:arities {1 {:args [{:op :keys,
                                                                                          :opt {:max-messages :int},
                                                                                          :req {:type :keyword}}],
                                                                                  :ret :any}}}},
                                        ayatori.core {make-system {:arities {1 {:args [{:op :keys,
                                                                                        :opt {:middleware :vector,
                                                                                              :wiring :map,
                                                                                              :store {:op :keys,
                                                                                                      :opt {:path :string},
                                                                                                      :req {:type :keyword}},
                                                                                              :host :string,
                                                                                              :port :int},
                                                                                        :req {:agents :map}}],
                                                                                :ret {:op :keys}}}},
                                                      start! {:arities {1 {:args [{:op :keys}], :ret {:op :keys}}}},
                                                      caps {:arities {1 {:args [{:op :keys}], :ret :map}}},
                                                      run {:arities {4 {:args [{:op :keys} :keyword :keyword :any],
                                                                        :ret :any}}},
                                                      add-agents! {:arities {2 {:args [{:op :keys}
                                                                                       {:op :keys,
                                                                                        :req {:agents :map},
                                                                                        :opt {:wiring :map}}],
                                                                                :ret {:op :keys}}}},
                                                      rewire! {:arities {3 {:args [{:op :keys} :keyword :map],
                                                                            :ret :nil}}},
                                                      stop! {:arities {1 {:args [{:op :keys}], :ret {:op :keys}}}},
                                                      make-agent {:arities {1 {:args [:any],
                                                                               :ret {:op :keys,
                                                                                     :req {:compiled {:op :keys,
                                                                                                      :opt {:lifecycle {:op :keys,
                                                                                                                        :opt {:on-start :fn}}},
                                                                                                      :req {:type :any,
                                                                                                            :nodes :vector,
                                                                                                            :edges :map,
                                                                                                            :caps :map,
                                                                                                            :deps :vector,
                                                                                                            :max-steps :int}},
                                                                                           :nodes :map}}}}}}}}}}
