{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Agents" {:file "doc/agents.md"}]
  ["Nodes" {:file "doc/nodes.md"}]
  ["System" {:file "doc/system.md"}]
  ["LLM" {:file "doc/llm.md"}]
  ["Memory" {:file "doc/memory.md"}]
  ["Middleware" {:file "doc/middleware.md"}]]}
